[class*="c-animated"] {
    transition: 750ms ease;
}

[class*="--fade"] {
    opacity: 0;
}

[class*="--fade"].show {
    opacity: 1;
}

[class*="--fade-down"] {
    transform: translateY(-50px);
}

[class*="--fade-up"] {
    transform: translateY(50px);
}

:is([class*="--fade-up"], [class*="--fade-down"]).show {
    transform: translateY(0px);
}

[class*="--fade-left"] {
    transform: translateX(-50px);
}

[class*="--fade-right"] {
    transform: translateX(50px);
}

:is([class*="--fade-left"], [class*="--fade-right"]).show {
    transform: translateX(0px);
}